/* Sektion CV */
#cv, #jobs, #ausbildungen{
  float: left;
}
.cv-eintrag {
  width:100%;
  float: left;
}
.cv-eintrag img {
  vertical-align: middle;
  margin-right: 15px;
}
.links p {
  display: inline-block;
  padding: 15px;
  border: 1px solid #efefef;
}
.links {
  float: left;
}
.rechts {
  width: 80px;
  vertical-align: top;
  float: right;
}
cv-titel {
  font-size: 1.2em;
  line-height: 3em;
  font-weight: bold;
}
.cv-beschreibung {
  border: 1px solid #efefef;
  padding: 0 15px 15px 15px;
}
